<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/AddStyle.css">

    <title>Register Failed</title>
</head>

<body>
    <div class="d-flex justify-content-center align-items-center login-container">
       <a href="/login">Failed to Create an Account! The Email You Are Trying To Use Have Already Been Used. Click Here To Return to Login/Register Page</a>
    </div>
</body>

</html>