<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/homestyle.css"/>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="shortcut icon" href="/static/images/fav-icon.png"/>

    <!--==Import-poppins-font====================-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">

    <!--==Import-Monoton-Font====================-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">

    <!--==Using-Font-Awesome======================-->
    <script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>
</head>
<body>

<nav class="navigation">
    <!--menu-btn--------------->
    <input type="checkbox" class="menu-btn" id="menu-btn">
    <label for="menu-btn" class="menu-icon">
        <span class="nav-icon"></span>
    </label>
    <!--logo------------------->
    <section class="screenshotsNew">
        <strong>Users</strong>
    </section>

    <!--menu------------------->
    <ul class="menu">
        <li><a href="/admin/panel">Admin Panel</a></li>
        <li><a href="/user/home">Home Screen</a></li>
        <li><a href="/user/home/movie">Add Movie</a></li>
        <li><a href="/user/home/actor">Add Actor</a></li>
        <li><a href="/user/home/genre">Add Genre</a></li>
        <li><a href="/user/home/language">Add Language</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</nav>

<section id="latest">
    <div class="latest-heading">
        <table class="content-table" style="border:1px solid black;margin-left:auto;margin-right:auto;">
            <thead>
            <tr>
                <th>UserID</th>
                <th>User Name & Surname</th>
                <th>User Mail</th>
                <th>User Role</th>
                <th>Account Creation Date</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="user:${users}">
                <td th:text="${user.getUserID()}">ID</td>
                <td th:text="${user.getName()}">Name</td>
                <td th:text="${user.getMail()}">Mail</td>
                <td th:text="${user.getRole()}">Role</td>
                <td th:text="${user.getCreationDate()}">Date</td>
                <td><a th:href="@{/admin/panel/users/details(userID=${user.getUserID()})}">Details</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</section>

</body>

</html>