<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/loginstyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&display=swap" rel="stylesheet">
    <title>Login Page</title>
</head>
<body>
    <div class="body-container">
    <div class="container" id="container">
        <div>
        <div class="form-container sign-up-container">
            <form name="f" th:action="@{/register/registerUser}" method="post" enctype="multipart/form-data">
                <h1>Create Account</h1>
                <input type="text" name="name" placeholder="Name" required/>
                <input type="email" name="mail" placeholder="Email" required/>
                <input type="password" name="password" placeholder="Password" required/>
                <label>Profile Image</label>
                <input id="movieImageFile" name="userImage" type="file" accept="image/*" placeholder="Movie Image" class="form-control rounded-pill form-control-lg" required/>
                <button type="submit" class="btn-grad">Sign Up</button>
<!--                <div class="btn-grad" >Sign Up</div>-->
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form name="f" th:action="@{/login}" method="post">
                <div th:if="${param.error}" class="">
                    Wrong Email or Password!
                </div>

                <div th:if="${param.logout}" class="">
                    Successfully Logged Out!
                </div>

                <h1>Sign In</h1>
                <input type="email" name="username" placeholder="Email" required/>
                <input type="password" name="password" placeholder="Password" required/>
                <button type="submit" class="btn-grad">Sign In</button>

                <br><br><br>
                <a href="/guest/home">Just Wanna Look Around For Now?</a>
<!--                <div class="btn-grad" >Sign In</div>-->
            </form>
        </div>
        </div>

        <div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>
                        Start from where you left
                    </p>
                    <div class="btn-grad" id="signIn">Sign In</div>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello!</h1>
                    <p>Join Us on a new adventure</p>
                    <div class="btn-grad" id="signUp">Sign Up</div>
                </div>
            </div>
        </div>
        </div>
    </div>

    </div>
    <script type="text/javascript" src="/static/js/loginjs.js"></script>
    <script src="/static/js/movieAddControl.js"></script>
</body>
</html>